body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* These styles make the body full-height */
html,
body {
  height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
  /* overflow: hidden; */
  background-color: #0099cc;
}
/* These styles make the root element full-height */
#root {
  display: flex;
  height: 100%;
}

.capsule-app {
  width: 100%;
  border: 1px dotted white;
}

.capsule-page {
  /* width: 100%; */
  flex-direction: column;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
